body {
  background-color: #000;
  margin: 0;
}

.box {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid  #e75551;
}

.out {
  margin: 20px 20px 40px;
  width: 350px;
  background-color: #308dc0;
}

.middle {
  background-color: #ffa500;
}

.inside {
  background-color: #ddd;
}
