
* {
  box-sizing: border-box;
  background-color: #000;
  margin: 0;
  padding: 0;
}

.out {
  border: 1px solid  #e75551;
  width: 350px;
  margin: 20px 20px 40px;
  padding: 10px;
  background-color: #308dc0;
}

.middle {
  border: 1px solid  #e75551;
  background-color: #ffa500;
  padding: 10px;
}

.inside {
  border: 1px solid  #e75551;
  background-color: #ddd;
  padding: 10px;
}
